html(lang="es")
    head
        title El D&oacute;lar en Bancos de M&eacute;xico
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        meta(name="keywords" content="dolar, precio, pesos, mexicanos, bancos, mxn, precios")
        meta(name="description" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="subject" content="finanzas")
        meta(name="copyright" content="Gato Mocho")
        meta(name="language" content="ES")
        meta(name="robots" content="index,follow" )
        meta(name="revised" content="Tuesday, Aug 27th, 2019, 12:16 pm" )
        meta(name="abstract" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="topic" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="summary" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="Classification" content="Finances")
        meta(name="author" content="contacto@dolarenbancos.com")
        meta(name="copyright" content="2019 dolarenbancos.com")
        meta(name="reply-to" content="contacto@dolarenbancos.com")
        meta(name="url" content="https://dolarenbancos.com")
        meta(name="identifier-URL" content="https://dolarenbancos.com")
        meta(name="coverage" content="Worldwide")
        meta(name="distribution" content="Global")
        meta(name="rating" content="General")
        meta(name="revisit-after" content="1 days")
        meta(http-equiv="Expires" content="0")
        meta(http-equiv="Pragma" content="no-cache")
        meta(http-equiv="Cache-Control" content="no-cache")

        meta(name="og:title" content="El D&oacute;lar en Bancos de M&eacute;xico")
        meta(name="og:type" content="website")
        meta(name="og:url" content="https://dolarenbancos.com")
        meta(name="og:image" content="https://dolarenbancos.com/public/dolarenbancos.png")
        meta(name="og:site_name" content="D&oacute;lar en Bancos")
        meta(name="og:description" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")

        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@dolarenbancos")

        link(rel="shortcut icon" href="public/favicon.ico")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css" integrity="sha256-Ro/wP8uUi8LR71kwIdilf78atpu8bTEwrK5ZotZo+Zc=" crossorigin="anonymous")
        link(rel="stylesheet" href="public/style.css")

    body
        nav.navigation
            .container
                a.navigation-title(href="/" title="Precio del D&oacute;lar al D&iacute;a")
                    img(src="public/dolarenbancos_100.png" alt="Website's logo")
                    h1.title D&oacute;lar en Bancos
                ul.navigation-list.float-right
                    li.navigation-item
                        a.navigation-link(href="#" onclick="scrollIt('#start'); return false;") Inicio
                    li.navigation-item
                        a.navigation-link(href="#" onclick="scrollIt('#bot-discord'); return false;") Bot Discord
                    li.navigation-item
                        a.navigation-link(href="#" onclick="scrollIt('#bot-telegram'); return false;") Bot Telegram
                    //li.navigation-item
                    //    a.navigation-link(href="/") Acerca

        .container.wide#start
            .row
                .column
                    h1 Precio del D&oacute;lar al D&iacute;a

            .row
                .column
                    h4 Precio Banxico:
                        b  $ #{data.banxico.fix.toFixed(2)} MXN

            .row
                .column
                    table
                        thead
                            tr
                                th Banco
                                th Compra
                                th Venta
                        tbody
                            each bank in Object.keys(data.banks)
                                - const buy = data.banks[bank]['buy'];
                                - const sell = data.banks[bank]['sell'];
                                tr
                                    td.capitalize= bank
                                    td(class=buy === data.meta.lowestBuy ? "red" : "" || buy === data.meta.highestBuy ? "green" : "") $ #{buy.toFixed(2)}
                                    td(class=sell === data.meta.lowestSell ? "green" : "" || sell === data.meta.highestSell ? "red" : "") $ #{sell.toFixed(2)}

            .row
                .column
                    small Retraso: 60 minutos.

        .split

        .container.wide#bot-discord
            .row
                .column
                    h1 Bot Discord
            .row
                .column
                    p Obt&eacute;n la informaci&oacute;n mas r&aacute;pidamente desde tu Discord. Agrega nuestro bot de Discord, env&iacute;a la palabra "dolar" y recibe el resumen en segundos.
            .row
                .column
                    p
                        a.button.button-green(href="https://discordapp.com/oauth2/authorize?client_id=615622507222925461&permissions=67584&scope=bot" target="_blank" rel="noopener noreferrer") Agregar a servidor

        .split

        .container.wide#bot-telegram
            .row
                .column
                    h1 Bot Telegram
            .row
                .column
                    p Recibe el resumen directo a tu smartphone o computador sin tener que instalar nada extra. Consulta nuestro bot de Telegram, s&oacute;lo env&iacute;a el texto "/dolar" y recibe el resumen en segundos.
            .row
                .column
                    p
                        a.button.button-green(href="https://telegram.me/dolarenbancos_bot" target="_blank" rel="noopener noreferrer") Agregar bot

        .split

        footer
            .container
                p.copyright Publicado bajo licencia
                    a(href="https://github.com/tonymtz/dolarenbancos/blob/master/LICENSE" target="_blank" rel="noopener noreferrer")  GPL-3.0
                    | .
                    a(href="https://github.com/tonymtz/dolarenbancos" target="_blank" rel="noopener noreferrer")  Open source.

        script.
          function scrollIt(selector) {
            const element = document.querySelector(selector);
            window.scrollTo({
              'behavior': 'smooth',
              'left': 0,
              'top': element.offsetTop - 60
            });
          };
