html(lang="es")
    head
        title El D&oacute;lar en Bancos de Mexico
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        meta(name="keywords" content="dolar, precio, pesos, mexicanos, bancos, mxn, precios")
        meta(name="description" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="subject" content="finanzas")
        meta(name="copyright" content="Gato Mocho")
        meta(name="language" content="ES")
        meta(name="robots" content="index,follow" )
        meta(name="revised" content="Tuesday, Aug 27th, 2019, 12:16 pm" )
        meta(name="abstract" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="topic" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="summary" content="El precio del d&oacute;lar en los distintos bancos de M&eacute;xico")
        meta(name="Classification" content="Finances")
        meta(name="author" content="contacto@dolarenbancos.com")
        meta(name="copyright" content="2019 dolarenbancos.com")
        meta(name="reply-to" content="contacto@dolarenbancos.com")
        meta(name="url" content="https://dolarenbancos.com")
        meta(name="identifier-URL" content="https://dolarenbancos.com")
        meta(name="coverage" content="Worldwide")
        meta(name="distribution" content="Global")
        meta(name="rating" content="General")
        meta(name="revisit-after" content="1 days")
        meta(http-equiv="Expires" content="0")
        meta(http-equiv="Pragma" content="no-cache")
        meta(http-equiv="Cache-Control" content="no-cache")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        style.
            .wide {
                margin: 0 auto;
                max-width: 600px;
            }

            .capitalize {
                text-transform: capitalize;
            }

            .green {
                background: #ddffd6;
                font-weight: bold;
            }

            .red {
                background: #ffd9cc;
                font-weight: bold;
            }
    body
        .container
            .row.wide
                .col-12
                    span &nbsp;
                .col-12
                    .jumbotron.text-center
                        h1 Precio del D&oacute;lar al Dia
                .col-12
                    h4 Precio Banxico:
                        b  $ #{data.banxico.fix.toFixed(2)} MXN
                .col-12
                    table.table.table-bordered.table-hover
                        thead
                            tr
                                th Banco
                                th Compra
                                th Venta
                        tbody
                            each bank in Object.keys(data.banks)
                                - const buy = data.banks[bank]['buy'];
                                - const sell = data.banks[bank]['sell'];
                                tr
                                    td.capitalize= bank
                                    td(class=buy === data.meta.lowestBuy ? "red" : "" || buy === data.meta.highestBuy ? "green" : "") $ #{buy.toFixed(2)}
                                    td(class=sell === data.meta.lowestSell ? "green" : "" || sell === data.meta.highestSell ? "red" : "") $ #{sell.toFixed(2)}
                .col-12
                    small Retraso: 60 minutos.
                        a(href="https://github.com/tonymtz/dollar-bot" target="_blank" rel="noopener noreferrer")  Open source.
