html(lang="es")
  head
    title El D&oacute;lar en Bancos de M&eacute;xico
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    meta(name="keywords" content="dolar, precio, pesos, mexicanos, bancos, mxn, precios")
    meta(name="description" content="El precio del dólar en los distintos bancos de México")
    meta(name="subject" content="finanzas")
    meta(name="copyright" content="GatoMocho")
    meta(name="language" content="ES")
    meta(name="robots" content="index,follow" )
    meta(name="revised" content="Monday, Mar 9th, 2022, 4:20 pm" )
    meta(name="abstract" content="El precio del dólar en los distintos bancos de México")
    meta(name="topic" content="El precio del dólar en los distintos bancos de México")
    meta(name="summary" content="El precio del dólar en los distintos bancos de México")
    meta(name="Classification" content="Finances")
    meta(name="author" content="contacto@dolarenbancos.com")
    meta(name="copyright" content="2019-2022 dolarenbancos.com")
    meta(name="reply-to" content="contacto@dolarenbancos.com")
    meta(name="url" content="https://dolarenbancos.com")
    meta(name="identifier-URL" content="https://dolarenbancos.com")
    meta(name="coverage" content="Worldwide")
    meta(name="distribution" content="Global")
    meta(name="rating" content="General")
    meta(name="revisit-after" content="1 days")
    meta(http-equiv="Expires" content="0")
    meta(http-equiv="Pragma" content="no-cache")
    meta(http-equiv="Cache-Control" content="no-cache")

    meta(property="og:title" content="El Dólar en Bancos de México")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://dolarenbancos.com")
    meta(property="og:image" content="https://dolarenbancos.com/public/dolarenbancos.png")
    meta(property="og:site_name" content="Dólar en Bancos")
    meta(property="og:description" content="El precio del dólar en los distintos bancos de México")

    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@dolarenbancos")

    link(rel="shortcut icon" href="public/favicon.ico")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css")
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css" integrity="sha256-Ro/wP8uUi8LR71kwIdilf78atpu8bTEwrK5ZotZo+Zc=" crossorigin="anonymous")
    link(rel="stylesheet" href="public/style.css")

    script(src="https://cdn.jsdelivr.net/npm/apexcharts")

    script.
      const store = !{JSON.stringify(chartData)};
      const months = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'];

    script.
      const miniChartOptions = {
        chart: {
          sparkline: {
            enabled: true
          },
          height: 20,
          width: 80,
          parentHeightOffset: -200,
          type: 'line',
          zoom: {
            enabled: false
          },
          animations: {
            enabled: false
          },
          toolbar: {
            show: false
          }
        },
        stroke: {
          width: 1,
        },
        dataLabels: {
          enabled: false
        },
        legend: {
          show: false
        },
        grid: {
          show: false
        },
        tooltip: {
          enabled: false,
        },
        yaxis: {
          labels: {
            show: false,
            formatter: function (value) {
              if (!value) return `$ 0`;
              return `$ ${ value.toFixed(2) }`;
            },
          },
          axisBorder: {
            show: false,
          }
        },
        xaxis: {
          labels: {
            show: false,
            formatter: function (time) {
              const date = new Date(time);
              return `${date.getMonth() + 1} / ${date.getDate()}`;
            }
          },
          axisBorder: {
            show: false,
          }
        }
      };

  body
    nav.navigation
      .container
        a.navigation-title(href="/" title="Precio del Dólar al Día")
          img(src="public/dolarenbancos_100.png" alt="Website's logo")
          h1.title D&oacute;lar en Bancos

        img#js-navbar-toggle.navigation-toggle(src="public/bars.svg" alt="toggle nav bar")

        ul#js-menu.navigation-list
          li.navigation-item
            a.navigation-link(href="#" onclick="scrollIt('#start'); return false;") Inicio
          li.navigation-item
            a.navigation-link(href="#history" onclick="scrollIt('#history'); return false;") Hist&oacute;rico
          li.navigation-item
            a.navigation-link(href="#bot-discord" onclick="scrollIt('#bot-discord'); return false;") Bot Discord
          li.navigation-item
            a.navigation-link(href="#bot-telegram" onclick="scrollIt('#bot-telegram'); return false;") Bot Telegram
          //li.navigation-item
          //    a.navigation-link(href="/") Acerca

    .container.wide#start
      .row
        .column
          h1 Precio del D&oacute;lar al D&iacute;a

      .row
        .column
          h4 Precio Banxico:
            b  $ #{data.banxico.fix.toFixed(2)} MXN

      .row
        .column
          table.centered.comfortable
            thead
              tr
                th(width="25%") Banco
                th(width="25%") Compra
                th(width="25%") Venta
                th(width="25%") Comportamiento
            tbody
              each bank in Object.keys(data.banks)
                - const buy = data.banks[bank]['buy'];
                - const sell = data.banks[bank]['sell'];
                tr
                  td.capitalize= bank
                    if bank === 'new-bank'
                      sup.label ¡Nuevo!
                  td(class=buy === data.meta.lowestBuy ? "red" : "" || buy === data.meta.highestBuy ? "green" : "") $ #{buy ? buy.toFixed(2) : '??'}
                  td(class=sell === data.meta.lowestSell ? "green" : "" || sell === data.meta.highestSell ? "red" : "") $ #{sell ? sell.toFixed(2) : '??'}
                  td
                    div(class=`graph-${bank}`)
                    script.
                      const options_#{bank} = {
                        ...miniChartOptions,
                        series: [
                          {
                            name: '#{bank}',
                            data: store.#{bank},
                          }
                        ],
                      };
                      const chart_#{bank} = new ApexCharts(
                        document.querySelector('.graph-#{bank}'),
                        options_#{bank}
                      );
                      chart_#{bank}.render();

      .row
        .column
          small Retraso: 60 minutos.

    .split

    .container.wide#history
      .row
        .column
          h1 Hist&oacute;rico

      .row
        .column
          #chart
          script.
            const options = {
              chart: {
                height: 380,
                type: 'line',
                zoom: {
                  enabled: false
                },
                animations: {
                  enabled: false
                },
                toolbar: {
                  show: false
                },
              },
              stroke: {
                width: 2
              },
              theme: {
                palette: 'palette5'
              },
              markers: {
                size: 4
              },
              legend: {
                offsetY: -10
              },
              series: [
                {
                  name: "Banxico",
                  data: store.banxico,
                },
                {
                  name: "Inbursa",
                  data: store.inbursa,
                },
                {
                  name: "Banamex",
                  data: store.banamex,
                },
                {
                  name: "BBVA",
                  data: store.bbva,
                },
                {
                  name: "Banorte",
                  data: store.banorte,
                },
                // {
                //   name: "Santander",
                //   data: store.santander,
                // },
                {
                  name: "Transferwise",
                  data: store.transferwise,
                },
              ],
              grid: {
                row: {
                  colors: ['#f4f5f6', 'transparent'], // takes an array which will be repeated on columns
                  opacity: 0.5
                },
              },
              yaxis: {
                labels: {
                  formatter: function (value) {
                    if (!value) return `$ 0`;
                    return `$ ${value.toFixed(2)}`;
                  },
                  style: {
                    color: '#606c76',
                  },
                },
              },
              xaxis: {
                labels: {
                  formatter: function (time) {
                    const date = new Date(time);
                    const day = date.getDate();
                    return `${months[date.getMonth()]}, ${day < 10 ? `0${day}` : day}`;
                  }
                }
              }
            }

            const chart = new ApexCharts(
              document.querySelector("#chart"),
              options
            );

            chart.render();

    .split

    .container.wide#bot-discord
      .row
        .column
          .row
            .column
              h1 Bot Discord
          .row
            .column
              p Obt&eacute;n la informaci&oacute;n mas r&aacute;pidamente desde tu Discord. Agrega nuestro bot de Discord, env&iacute;a la palabra "dolar" y recibe el resumen en segundos.
          .row
            .column
              p
                a.button.button-green(href="https://discordapp.com/oauth2/authorize?client_id=615622507222925461&permissions=67584&scope=bot" target="_blank" rel="noopener noreferrer") Agregar a servidor
        .column.column-20
          .row
            img(src="public/discord.svg" alt="Discord's logo")

    .split

    .container.wide#bot-telegram
      .row
        .column
          .row
            .column
              h1 Bot Telegram
          .row
            .column
              p Recibe el resumen directo a tu smartphone o computador sin tener que instalar nada extra. Consulta nuestro bot de Telegram, s&oacute;lo env&iacute;a el texto "/dolar" y recibe el resumen en segundos.
          .row
            .column-80
              p
                a.button.button-green(href="https://telegram.me/dolarenbancos_bot" target="_blank" rel="noopener noreferrer") Agregar bot
        .column.column-20
          .row
            img(src="public/telegram.svg" alt="Telegram's logo")

    .split

    footer
      .container
        p.copyright Publicado bajo licencia
          a(href="https://github.com/tonymtz/dolarenbancos/blob/master/LICENSE" target="_blank" rel="noopener noreferrer" title="Licencia")  GPL-3.0.
          a(href="https://github.com/tonymtz/dolarenbancos-js" target="_blank" rel="noopener noreferrer" title="Enlace a repositorio")  Open source.
          a(href="/sitemap.xml" rel="noopener noreferrer" title="Mapa de sitio")  Mapa de sitio.

    script.
      function scrollIt(selector) {
        const element = document.querySelector(selector);
        window.scrollTo({
          'behavior': 'smooth',
          'left': 0,
          'top': element.offsetTop - 70
        });
        toggleNav();
      };

      const mainNav = document.getElementById('js-menu');
      const navBarToggle = document.getElementById('js-navbar-toggle');

      const toggleNav = () => {
        mainNav.classList.toggle('active');
      };

      navBarToggle.addEventListener('click', toggleNav);

    script(async src="https://www.googletagmanager.com/gtag/js?id=G-MD751R68FK")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MD751R68FK');
